body{
  margin: 30px;
}
.canvas{
  position: relative;
  display:inline-block;
  padding: 0px;
  margin: 0px;
  }
  img{
    margin: 0px;
    opacity: 0.5;
}
.units {
}
.tag{
  /*border: 2px solid rgba(255,255,255,0.5); */
  position: absolute;
  pointer-events: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.tag-done{
  pointer-events: all;
  border: none;
  text-align: right;
}
.tag-close{
  cursor: pointer;
  font-family: 'Arial';
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  top: 2px; 
  right: 2px; 
  width: 18px;
  height: 18px;
  text-shadow: 0 2px rgba(0,0,0,0.5);
  position: absolute;
  padding: 2px;
  background: rgba(255,255,255,0.2);
  border: 2px solid rgba(0,0,0,0.2);
}
.tag-close:hover{
  background: rgba(255,255,255,0.4);
}
.list-item{
  cursor: pointer;
}
.tag:hover{
  box-shadow: 0 2px 8px rgba(0,0,0,0.7);
}
.active{
  box-shadow: 0 2px 8px rgba(0,0,0,0.7);
}
.sub-item{
  display: none;
}
.menu
{
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.4);
  text-shadow: 0 2px rgba(0,0,0,0.5);
  color: #FFF;
  list-style-type: none;
  width: 150px;
  padding: 5px;
}
ul{
  -webkit-margin-before: 0px; 
  -webkit-margin-after: 0px; 
  -webkit-margin-start: 0px; 
  -webkit-margin-end: 0px; 
}

.edit-menu{
}

.menu li{
  cursor: pointer;
}
.edit-menu li{
  cursor: pointer;
}
